.calendar-page-root {
    flex: 1 1 0;
    display: flex;
    align-items: stretch;
}

.calendar-view-wrapper {
    flex: 3 1 0;
    display: flex;
    align-items: stretch;
}

.calendar-event-wrapper {
    flex: 1 1 0;
    display: flex;
    align-items: stretch;
}