.event-calendar {
    flex: 1 1 0;
    display: flex;
    align-items: stretch;
    box-sizing: border-box;
}

/* TODO: Figure out why grid item height is not fixed! */
.event-calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    justify-content: stretch;
    align-items: stretch;
    border: 1px solid black;
}

.event-calendar-day {
    border: 1px solid black;
    background-color: #ddd;
}